.small-image{
  width: 70px;
  margin-left: 0px;
}
.clientes {
  margin-top: -100px;
  margin-left: 120px;
  margin-right: 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); 
}
.sidebar{
  margin-top: -10px;
  margin-left: 12px;
  width: 50px;
}