<div class="card">
  <p-table #dt2 [value]="Usuarios" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
    [paginator]="true" [globalFilterFields]="['nome', 'cnpj', 'razaoSocial', 'endereco', 'quantidadeDeProjetos']"
    [tableStyle]="{ 'min-width': '75rem' }">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center">
        <i class="pi pi-search p-input-icon-left"></i>
        <input pInputText type="text" (input)="onGlobalFilterInput($event)" placeholder="Procurar Usuario"
          class="ml-2" />
      </div>
    </ng-template>

    <ng-template pTemplate="header">

      <tr>
        <th style="width:20%">Nome</th>
        <th style="width:20%">CNPJ</th>
        <th style="width:20%">Razão Social</th>
        <th style="width:20%">Endereço</th>
        <th style="width:50%">Quantidade de Projetos</th>
        <th style="width:20%">Ações</th>
        <th style="width:20%"></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="nome" placeholder="Nome" ariaLabel="Filter Nome" />
        </th>
        <th>
          <p-columnFilter type="text" field="cnpj" placeholder="CNPJ" ariaLabel="Filter CNPJ" />
        </th>
        <th>
          <p-columnFilter type="text" field="razaoSocial" placeholder=" Razão Social" ariaLabel="Filter Razão Social" />
        </th>
        <th>
          <p-columnFilter type="text" field="endereco" placeholder=" Endereço" ariaLabel="Filter Endereço" />
        </th>
        <th>
          <p-columnFilter type="numeric" field="quantidadeDeProjetos" placeholder=" Quantidade de Projetos"
            ariaLabel="Filter Quantidade de Projetos" />
        </th>
        <th>
          <p-button mat-button (click)="openCreateDialog()" label="Adicionar" [text]="true" [raised]="true"
            severity="success" />

        </th>
        <th>

        </th>
      </tr>

    </ng-template>

    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.cnpj }}</td>
        <td>{{ cliente.razaoSocial }}</td>
        <td>{{ cliente.endereco }}</td>
        <td>{{ cliente.quantidadeDeProjetos }}</td>


        <td>
          <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" [raised]="true" severity="info"
            class="button-spacing" (click)="editClient(cliente.id)"></p-button>
          <br> <br>
          <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="danger"
            (click)="deleteClient(cliente.id)"></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
