.small-image{
  width: 140px;
  margin-left: 30px;
}
.chamados {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Ajuste os valores conforme necessário */
}
.sidebar{
  margin-top: -100px;
  margin-left: 30px;
}
